<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
        	<list>
            	<value>classpath:/log4j.properties</value>
            </list>
        </property>
    </bean>

	<aop:aspectj-autoproxy/>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<!--<tx:method name="get*" read-only="true" propagation="SUPPORTS" />
			<tx:method name="find*" read-only="true" propagation="SUPPORTS" />-->
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="serviceOperation" expression="execution(* be.inze.spring.demo.service.**.*(..))" type="regex" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
	</aop:config>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:jbpm4;shutdown=true" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create-drop</prop>
			</props>
		</property>
		<property name="configLocations">
			<list>
				<value>classpath:be/inze/spring/demo/hibernate.cfg.xml</value>
			</list>
			</property>
		
		<!--
		
		
		<property name="annotatedClasses">
			<list>
				<value>be.inze.spring.demo.domain.AttestPerson</value>
				<value>be.inze.spring.demo.domain.Language</value>
				<value>be.inze.spring.demo.domain.Postalcode</value>
				<value>be.inze.spring.demo.domain.Profession</value>
				<value>be.inze.spring.demo.domain.Dossier</value>
				<value>be.inze.spring.demo.domain.DossierPK</value>
				<value>be.inze.spring.demo.domain.BaseDescription</value>
				<value>be.inze.spring.demo.domain.Chamber</value>
			</list>
		</property>
	-->
		<property name="mappingLocations">
			<list>
				<value>classpath:jbpm.execution.hbm.xml</value>
				<value>classpath:jbpm.repository.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
</beans>